target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
_windows
.mvn
config-server.iml
wvnw
mvnw.cmd
debugger.xml
diff.xml
editor.codeinsight.xml
editor.xml
codestyles
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/